body
{
	 margin: 0;
    padding: 0;

}


.body_wrapper {
	
	width: 100%;
	height: 100%;
	
}


.left_menu
{
	
	width: 250px;
	height: 100vh;
	z-index: 10;
	float:left;
	
}

.left_menu_content, .left_menu_toggle
{
	background: rgba(0, 0, 0, 0.5);
}

.left_menu_content
{
	padding-left: 10px;
	color: white;
	height: 100%;
	width: 220px;
	float: left;
	white-space: nowrap;
}

.left_menu_toggle{
	height: 100%;
	width: 20px;
	float: left;
	
}

.left_menu_toggle:hover{
	background: rgba(0, 0, 0, 0.6);
	
}

.left_menu_left_arrow{
	height: 40px;
	width: 20px;
	background-image: url("../icons/left_arrow.png");
	background-size: 20px 40px;
	
}

.left_menu_right_arrow{
	height: 40px;
	width: 20px;
	background-image: url("../icons/right_arrow.png");
	background-size: 20px 40px;
	
}

.content_main
{
	width: calc(100% - 250px);
	float: left;
	height: 100%;
	padding-top:50px;
	
}

.content_body{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	height: 100%;
	z-index: 50;

	
}

#slideshow, img.bgM {
	
     	min-height: 100%;
  		min-width:450px;

		 /* Set up proportionate scaling */
		width: 100%;
 		height: auto;

		top: 0;
  		left: 0;
        position: fixed;
       
       
        z-index:-10;
}

.article_listing
{
	width: 940px;
	height: 750px;
	padding-top: 40px;
	padding-bottom: 50px;
	padding-right: 50px;
}



.article_listing_wrapper
{
	width: 250px;
	height: 260px;
	color: white;
	float: left;
	padding-left: 62px;
	padding-top: 20px;
}

.article_listing_picture
{
	width: 100%;
	height: 250px;
	border: 1px solid black; 
}


.article_listing_title
{
	width: 100%;
	height: 10px;
	
	
}

.article_listing_title a:active, a:visited, a:link
{ 
	color: white; 
	text-transform: capitalize;
	text-decoration: none;

}

.article_listing_title a:hover
{
	text-decoration: underline;
	text-transform: capitalize;
}

